/* Control height
   ================================================== */
/* Typography
   ================================================== */
.sc-button {
  display: inline-block;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
  border: none;
  background: transparent;
  border-radius: 0.25rem; }

.sc-button-small {
  padding: 8px 20px;
  font-size: 0.65rem; }

.sc-button-large {
  padding: 8px 20px;
  font-size: 1.25rem; }

.sc-button-primary {
  background-color: #0d6efd !important; }

.sc-button-secondary {
  background-color: #797e86 !important; }

.sc-button-success {
  background-color: #2fc900 !important; }

.sc-button-warning {
  background-color: #ffc400 !important; }

.sc-button-danger {
  background-color: #ffe600 !important; }

.sc-button-alert {
  background-color: #ff0000 !important; }

.sc-button-info {
  background-color: #4fcdff !important; }

.sc-button-inverse {
  background-color: #ffffff !important; }

.sc-button-link {
  background-color: #1E87F0 !important; }

.sc-button-default {
  background-color: #000000 !important; }

.sc-button-outline-primary {
  border: 1px solid #0d6efd !important; }

.sc-button-outline-secondary {
  border: 1px solid #797e86 !important; }

.sc-button-outline-success {
  border: 1px solid #2fc900 !important; }

.sc-button-outline-warning {
  border: 1px solid #ffc400 !important; }

.sc-button-outline-danger {
  border: 1px solid #ffe600 !important; }

.sc-button-outline-alert {
  border: 1px solid #ff0000 !important; }

.sc-button-outline-info {
  border: 1px solid #4fcdff !important; }

.sc-button-outline-inverse {
  border: 1px solid #ffffff !important; }

.sc-button-outline-link {
  border: 1px solid #1E87F0 !important; }

.sc-button-outline-default {
  border: 1px solid #000000 !important; }

.sc-button-primary {
  color: #ffffff; }

.sc-button-secondary {
  color: #ffffff; }

.sc-button-success {
  color: #ffffff; }

.sc-button-warning {
  color: #000000; }

.sc-button-danger {
  color: #000000; }

.sc-button-alert {
  color: #ffffff; }

.sc-button-info {
  color: #000000; }

.sc-button-inverse {
  color: #000000; }

.sc-button-link {
  color: #ffffff; }

.sc-button-default {
  color: #ffffff; }

.sc-button-primary:hover {
  background: #0b5ed7 !important;
  color: #ffffff; }

.sc-button-secondary:hover {
  background: #575a5f !important;
  color: #ffffff; }

.sc-button-success:hover {
  background: #1a7000 !important;
  color: #ffffff; }

.sc-button-warning:hover {
  background: #ffd23c !important;
  color: #000000; }

.sc-button-danger:hover {
  background: #b3a100 !important;
  color: #000000; }

.sc-button-alert:hover {
  background: #c00000 !important;
  color: #ffffff; }

.sc-button-info:hover {
  background: #1cb6f3 !important;
  color: #000000; }

.sc-button-inverse:hover {
  background: #c9c9c9 !important;
  color: #000000; }

.sc-button-link:hover {
  background: #1561ad !important;
  color: #ffffff; }

.sc-button-default:hover {
  background: #272727 !important;
  color: #ffffff; }

.sc-button-outline-primary {
  color: #0d6efd; }

.sc-button-outline-secondary {
  color: #797e86; }

.sc-button-outline-success {
  color: #2fc900; }

.sc-button-outline-warning {
  color: #ffc400; }

.sc-button-outline-danger {
  color: #ffe600; }

.sc-button-outline-alert {
  color: #ff0000; }

.sc-button-outline-info {
  color: #4fcdff; }

.sc-button-outline-inverse {
  color: #ffffff; }

.sc-button-outline-link {
  color: #1E87F0; }

.sc-button-outline-default {
  color: #000000; }

.sc-button-outline-primary:hover {
  background: #0d6efd;
  color: #ffffff; }

.sc-button-outline-secondary:hover {
  background: #797e86;
  color: #ffffff; }

.sc-button-outline-success:hover {
  background: #2fc900;
  color: #ffffff; }

.sc-button-outline-warning:hover {
  background: #ffc400;
  color: #000000; }

.sc-button-outline-danger:hover {
  background: #ffe600;
  color: #000000; }

.sc-button-outline-alert:hover {
  background: #ff0000;
  color: #ffffff; }

.sc-button-outline-info:hover {
  background: #4fcdff;
  color: #000000; }

.sc-button-outline-inverse:hover {
  background: #ffffff;
  color: #000000; }

.sc-button-outline-link:hover {
  background: #1E87F0;
  color: #ffffff; }

.sc-button-outline-default:hover {
  background: #000000;
  color: #ffffff; }

.sc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  box-sizing: border-box;
  border: 1px solid #0000002d;
  border-radius: 0.375rem; }

.sc-card > hr {
  margin-right: 0;
  margin-left: 0; }

.sc-card-body {
  flex: 1 1 auto;
  padding: 15px 15px; }

.sc-card-header {
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  border-bottom: 1px solid #0000002d;
  background-color: rgba(33, 37, 41, 0.03); }

.sc-card-footer {
  padding: 0.375rem 0.75rem;
  border-top: 1px solid #0000002d;
  background-color: rgba(33, 37, 41, 0.03); }

@media screen and (min-width: 1280px) {
  .sc-card-body {
    padding: 40px 40px; }
  .sc-card-header {
    padding: calc(gutter(small) / 2) 30px; }
  .sc-card-footer {
    padding: calc(gutter(small) / 2) 30px; } }

.sc-card-body:before, .sc-card-body:after,
.sc-card-header:before,
.sc-card-header:after,
.sc-card-footer:before,
.sc-card-footer:after {
  content: "";
  display: table; }

.sc-card-body:after,
.sc-card-header:after,
.sc-card-footer:after {
  clear: both; }

.sc-container {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }

@media screen and (min-width: 768px) {
  .sc-container {
    padding-left: 30px;
    padding-right: 30px; } }

@media screen and (min-width: 1024px) {
  .sc-container {
    padding-left: 40px;
    padding-right: 40px; } }

.sc-container:before, .sc-container:after {
  content: "";
  display: table; }

.sc-container:after {
  clear: both; }

.sc-container > :last-child {
  margin-bottom: 0; }

.sc-container .sc-container {
  padding-left: 0;
  padding-right: 0; }

.sc-container-xsmall {
  max-width: 750px; }

.sc-container-small {
  max-width: 900px; }

.sc-container-large {
  max-width: 1920px;
  max-height: 750px; }

.sc-navigation-list {
  margin: 0;
  list-style: none; }
  .sc-navigation-list > li > a {
    text-decoration: none; }

.sc-badge {
  display: inline-block;
  padding: 0.35rem 0.65rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%); }

.sc-badge-alert {
  background-color: #ff0000;
  color: #ffffff; }

.sc-badge:hover,
.sc-badge-focus {
  color: theme-color(primary-l);
  text-decoration: none;
  outline: none; }

.sc-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0; }

.sc-modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none; }

.sc-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  border: 1px solid #0000002d;
  border-radius: 0.375rem;
  outline: 0; }

.sc-pagination {
  display: flex;
  padding-left: 0;
  list-style: none; }

.sc-page-link {
  position: relative;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #0000002d; }

.sc-page-item:not(:first-child) .sc-page-link {
  margin-left: calc(1px * -1); }

.sc-page-item:first-child .sc-page-link {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem; }

.sc-page-item:last-child .sc-page-link {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem; }

.sc-page-link:hover {
  z-index: 2;
  border: 1px solid #0000002d;
  background-color: #21252908 !important; }

.sc-page-link-focus {
  z-index: 3;
  outline: 0;
  box-shadow: 10px 6px 6px -1 #00000026; }

.sc-pagination > .active > * {
  color: #ffffff; }

.sc-pagination > .disabled > * {
  color: #0000002d;
  cursor: note-allowed; }

.sc-notification {
  position: relative;
  display: inline-block; }

.sc-overflow-none {
  overflow: none; }

.sc-overflow-hidden {
  overflow: hidden; }

.sc-overflow-clip {
  overflow: clip; }

.sc-overflow-visible {
  overflow: visible; }

.sc-overflow-scroll {
  overflow: scroll; }

.sc-overflow-x-auto {
  overflow-x: auto; }

.sc-overflow-y-auto {
  overflow-y: auto; }

.sc-overflow-x-hidden {
  overflow-x: hidden; }

.sc-overflow-y-hidden {
  overflow-y: hidden; }

.sc-overflow-x-clip {
  overflow-x: clip; }

.sc-overflow-y-clip {
  overflow-y: clip; }

.sc-overflow-x-visible {
  overflow-x: visible; }

.sc-overflow-y-visible {
  overflow-y: visible; }

.sc-overflow-x-scroll {
  overflow-x: scroll; }

.sc-overflow-y-scroll {
  overflow-y: scroll; }

.sc-container-default {
  margin: 1rem; }

.sc-container-sm {
  margin: 2rem; }

.sc-container-md {
  margin: 4rem; }

.sc-container-lg {
  margin: 5rem; }

.sc-container-xl {
  margin: 6rem; }

.sc-aspect-auto {
  aspect-ratio: auto; }

.sc-aspect-square {
  aspect-ratio: 1/1; }

.sc-aspect-video {
  aspect-ratio: 16/9; }

.sc-position-static {
  position: static; }

.sc-position-relative {
  position: relative; }

.sc-position-absolute {
  position: absolute; }

.sc-position-sticky {
  position: sticky; }

.sc-position-fixed {
  position: fixed; }

.sc-top-0 {
  top: 0 !important; }

.sc-top-50 {
  top: 50% !important; }

.sc-top-100 {
  top: 100% !important; }

.sc-bottom-0 {
  bottom: 0 !important; }

.sc-bottom-50 {
  bottom: 50% !important; }

.sc-bottom-100 {
  bottom: 100% !important; }

.sc-start-0 {
  left: 0 !important; }

.sc-start-50 {
  left: 50% !important; }

.sc-start-100 {
  left: 100% !important; }

.sc-end-0 {
  right: 0 !important; }

.sc-end-50 {
  right: 50% !important; }

.sc-end-100 {
  right: 100% !important; }

.sc-translate-middle {
  transform: translate(-50%, -50%) !important; }

.sc-translate-middle-x {
  transform: translateX(-50%) !important; }

.sc-translate-middle-y {
  transform: translateY(-50%) !important; }

[class*='sc-width'] {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%; }

.sc-width-1 {
  width: 8.33333%;
  flex-basis: 8.33333%; }

.sc-width-2 {
  width: 16.66667%;
  flex-basis: 16.66667%; }

.sc-width-3 {
  width: 25%;
  flex-basis: 25%; }

.sc-width-4 {
  width: 33.33333%;
  flex-basis: 33.33333%; }

.sc-width-5 {
  width: 41.66667%;
  flex-basis: 41.66667%; }

.sc-width-6 {
  width: 50%;
  flex-basis: 50%; }

.sc-width-7 {
  width: 58.33333%;
  flex-basis: 58.33333%; }

.sc-width-8 {
  width: 66.66667%;
  flex-basis: 66.66667%; }

.sc-width-9 {
  width: 75%;
  flex-basis: 75%; }

.sc-width-10 {
  width: 83.33333%;
  flex-basis: 83.33333%; }

.sc-width-11 {
  width: 91.66667%;
  flex-basis: 91.66667%; }

.sc-width-12 {
  width: 100%;
  flex-basis: 100%; }

.sc-width-auto {
  width: auto;
  flex-basis: auto; }

@media screen and (min-width: 768px) {
  .sc-width-1\-small {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .sc-width-2\-small {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .sc-width-3\-small {
    width: 25%;
    flex-basis: 25%; }
  .sc-width-4\-small {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .sc-width-5\-small {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .sc-width-6\-small {
    width: 50%;
    flex-basis: 50%; }
  .sc-width-7\-small {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .sc-width-8\-small {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .sc-width-9\-small {
    width: 75%;
    flex-basis: 75%; }
  .sc-width-10\-small {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .sc-width-11\-small {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .sc-width-12\-small {
    width: 100%;
    flex-basis: 100%; }
  .sc-width-auto\-small {
    width: auto;
    flex-basis: auto; } }

@media screen and (min-width: 1024px) {
  .sc-width-1\-medium {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .sc-width-2\-medium {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .sc-width-3\-medium {
    width: 25%;
    flex-basis: 25%; }
  .sc-width-4\-medium {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .sc-width-5\-medium {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .sc-width-6\-medium {
    width: 50%;
    flex-basis: 50%; }
  .sc-width-7\-medium {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .sc-width-8\-medium {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .sc-width-9\-medium {
    width: 75%;
    flex-basis: 75%; }
  .sc-width-10\-medium {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .sc-width-11\-medium {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .sc-width-12\-medium {
    width: 100%;
    flex-basis: 100%; }
  .sc-width-auto\-medium {
    width: auto;
    flex-basis: auto; } }

@media screen and (min-width: 1280px) {
  .sc-width-1\-large {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .sc-width-2\-large {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .sc-width-3\-large {
    width: 25%;
    flex-basis: 25%; }
  .sc-width-4\-large {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .sc-width-5\-large {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .sc-width-6\-large {
    width: 50%;
    flex-basis: 50%; }
  .sc-width-7\-large {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .sc-width-8\-large {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .sc-width-9\-large {
    width: 75%;
    flex-basis: 75%; }
  .sc-width-10\-large {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .sc-width-11\-large {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .sc-width-12\-large {
    width: 100%;
    flex-basis: 100%; }
  .sc-width-auto\-large {
    width: auto;
    flex-basis: auto; } }

@media screen and (min-width: 1536px) {
  .sc-width-1\-xlarge {
    width: 8.33333%;
    flex-basis: 8.33333%; }
  .sc-width-2\-xlarge {
    width: 16.66667%;
    flex-basis: 16.66667%; }
  .sc-width-3\-xlarge {
    width: 25%;
    flex-basis: 25%; }
  .sc-width-4\-xlarge {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  .sc-width-5\-xlarge {
    width: 41.66667%;
    flex-basis: 41.66667%; }
  .sc-width-6\-xlarge {
    width: 50%;
    flex-basis: 50%; }
  .sc-width-7\-xlarge {
    width: 58.33333%;
    flex-basis: 58.33333%; }
  .sc-width-8\-xlarge {
    width: 66.66667%;
    flex-basis: 66.66667%; }
  .sc-width-9\-xlarge {
    width: 75%;
    flex-basis: 75%; }
  .sc-width-10\-xlarge {
    width: 83.33333%;
    flex-basis: 83.33333%; }
  .sc-width-11\-xlarge {
    width: 91.66667%;
    flex-basis: 91.66667%; }
  .sc-width-12\-xlarge {
    width: 100%;
    flex-basis: 100%; }
  .sc-width-auto\-xlarge {
    width: auto;
    flex-basis: auto; } }

.sc-height-1 {
  height: 8.33333vh; }

.sc-height-2 {
  height: 15.27778vh; }

.sc-height-2-5 {
  height: 16.66667vh; }

.sc-height-3 {
  height: 25vh; }

.sc-height-4 {
  height: 33.33333vh; }

.sc-height-5 {
  height: 41.66667vh; }

.sc-height-5-5 {
  height: 45.83333vh; }

.sc-height-6 {
  height: 50vh; }

.sc-height-7 {
  height: 58.33333vh; }

.sc-height-8 {
  height: 66.66667vh; }

.sc-height-9 {
  height: 75vh; }

.sc-height-10 {
  height: 83.33333vh; }

.sc-height-11 {
  height: 91.66667vh; }

.sc-height-12 {
  height: 100vh; }

.sc-padding-remove {
  padding: 0; }

.sc-padding-xsmall {
  padding: 15px; }

.sc-padding-small {
  padding: 30px; }

.sc-padding-medium {
  padding: 40px; }

.sc-padding-large {
  padding: 70px; }

.sc-padding-inline-remove {
  padding-inline: 0; }

.sc-padding-inline-xsmall {
  padding-left: 15px;
  padding-right: 15px; }

.sc-padding-inline-small {
  padding-left: 30px;
  padding-right: 30px; }

.sc-padding-inline-medium {
  padding-left: 40px;
  padding-right: 40px; }

.sc-padding-inline-large {
  padding-left: 70px;
  padding-right: 70px; }

.sc-padding-block-remove {
  padding-top: 0;
  padding-bottom: 0; }

.sc-padding-block-xsmall {
  padding-top: 15px;
  padding-bottom: 15px; }

.sc-padding-block-small {
  padding-top: 30px;
  padding-bottom: 30px; }

.sc-padding-block-medium {
  padding-top: 40px;
  padding-bottom: 40px; }

.sc-padding-block-large {
  padding-top: 70px;
  padding-bottom: 70px; }

.sc-padding-left-remove {
  padding-left: 0; }

.sc-padding-left-xsmall {
  padding-left: 15px; }

.sc-padding-left-small {
  padding-left: 30px; }

.sc-padding-left-medium {
  padding-left: 40px; }

.sc-padding-left-large {
  padding-left: 70px; }

.sc-padding-right-remove {
  padding-right: 0; }

.sc-padding-right-xsmall {
  padding-right: 15px; }

.sc-padding-right-small {
  padding-right: 30px; }

.sc-padding-right-medium {
  padding-right: 40px; }

.sc-padding-right-large {
  padding-right: 70px; }

.sc-padding-top-remove {
  padding-top: 0; }

.sc-padding-top-xsmall {
  padding-top: 15px; }

.sc-padding-top-small {
  padding-top: 30px; }

.sc-padding-top-medium {
  padding-top: 40px; }

.sc-padding-top-large {
  padding-top: 70px; }

.sc-padding-bottom-remove {
  padding-bottom: 0; }

.sc-padding-bottom-xsmall {
  padding-bottom: 15px; }

.sc-padding-bottom-small {
  padding-bottom: 30px; }

.sc-padding-bottom-medium {
  padding-bottom: 40px; }

.sc-padding-bottom-large {
  padding-bottom: 70px; }

.sc-margin-remove {
  margin: 0; }

.sc-margin-xsmall {
  margin: 5px; }

.sc-margin-small {
  margin: 10px; }

.sc-margin-medium {
  margin: 40px; }

.sc-margin-large {
  margin: 70px; }

.sc-margin-xlarge {
  margin: 140px; }

.sc-margin-y-remove {
  margin-inline: 0; }

.sc-margin-y-xsmall {
  margin-inline: 5px; }

.sc-margin-y-small {
  margin-inline: 10px; }

.sc-margin-y-medium {
  margin-inline: 40px; }

.sc-margin-y-large {
  margin-inline: 70px; }

.sc-margin-y-xlarge {
  margin-inline: 140px; }

.sc-margin-x-remove {
  margin-block: 0; }

.sc-margin-x-xsmall {
  margin-block: 5px; }

.sc-margin-x-small {
  margin-block: 10px; }

.sc-margin-x-medium {
  margin-block: 40px; }

.sc-margin-x-large {
  margin-block: 70px; }

.sc-margin-x-xlarge {
  margin-block: 140px; }

.sc-background-primary {
  background-color: #0d6efd !important; }

.sc-background-secondary {
  background-color: #797e86 !important; }

.sc-background-success {
  background-color: #2fc900 !important; }

.sc-background-warning {
  background-color: #ffc400 !important; }

.sc-background-danger {
  background-color: #ffe600 !important; }

.sc-background-alert {
  background-color: #ff0000 !important; }

.sc-background-info {
  background-color: #4fcdff !important; }

.sc-background-inverse {
  background-color: #ffffff !important; }

.sc-background-link {
  background-color: #1E87F0 !important; }

.sc-background-default {
  background-color: #000000 !important; }

.sc-background-success {
  color: #ffffff; }

.sc-background-warning {
  color: #000000; }

.sc-background-danger {
  color: #000000; }

.sc-background-alert {
  color: #ffffff; }

.sc-background-info {
  color: #000000; }

.sc-background-inverse {
  color: #000000; }

.sc-background-disabled {
  color: #ffffff; }

.sc-background-link {
  color: #ffffff; }

.sc-background-default {
  color: #ffffff; }

.sc-bg-fixed {
  background-attachment: fixed; }

.sc-bg-local {
  background-attachment: local; }

.sc-bg-scroll {
  background-attachment: scroll; }

.sc-bg-clip-border {
  background-clip: border-box; }

.sc-bg-clip-padding {
  background-clip: padding-box; }

.sc-bg-clip-content {
  background-clip: content-box; }

.sc-bg-clip-text {
  background-clip: text; }

.sc-bg-origin-border {
  background-origin: border-box; }

.sc-bg-origin-padding {
  background-origin: padding-box; }

.sc-bg-origin-content {
  background-origin: content-box; }

.sc-bg-position-bottom {
  background-position: bottom; }

.sc-bg-position-center {
  background-position: center; }

.sc-bg-position-left {
  background-position: left; }

.sc-bg-position-left-bottom {
  background-position: left bottom; }

.sc-bg-position-left-top {
  background-position: left top; }

.sc-bg-position-right {
  background-position: right; }

.sc-bg-position-right-bottom {
  background-position: right bottom; }

.sc-bg-position-right-top {
  background-position: right top; }

.sc-bg-position {
  background-position: top; }

.sc-bg-repeat {
  background-repeat: repeat; }

.sc-bg-no-repeat {
  background-repeat: no-repeat; }

.sc-bg-repeat-x {
  background-repeat: repeat-x; }

.sc-bg-repeat-y {
  background-repeat: repeat-y; }

.sc-bg-repeat-round {
  background-repeat: round; }

.sc-bg-repeat-space {
  background-repeat: space; }

.sc-bg-auto {
  background-size: auto; }

.sc-bg-cover {
  background-size: cover; }

.sc-bg-contain {
  background-size: contain; }

.sc-round-rounded {
  border-radius: 0.25rem !important; }

.sc-round-none {
  border-radius: 0px !important; }

.sc-round-small {
  border-radius: 0.125rem !important; }

.sc-round-medium {
  border-radius: 0.375rem !important; }

.sc-round-large {
  border-radius: 0.5rem !important; }

.sc-round-xlarge {
  border-radius: 0.75rem !important; }

.sc-round-xxlarge {
  border-radius: 1rem !important; }

.sc-round-xxxlarge {
  border-radius: 1rem !important; }

.sc-round-full {
  border-radius: 999999px !important; }

.sc-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none; }

.sc-flex > * {
  margin: 0; }

.sc-flex > * > :last-child {
  margin-bottom: 0; }

.sc-flex {
  margin-left: -30px; }

.sc-flex > * {
  padding-left: 30px; }

.sc-flex-small {
  margin-left: -15px; }

.sc-flex-small > * {
  padding-left: 15px; }

.sc-flex-medium {
  margin-left: -40px; }

.sc-flex-medium > * {
  padding-left: 40px; }

.sc-flex-large {
  margin-left: -40px; }

.sc-flex-large > * {
  padding-left: 40px; }

.sc-flex-inline {
  display: inline-flex; }

.sc-flex::before,
.sc-flex::after,
.sc-flex-inline::before,
.sc-flex-inline::after {
  display: none; }

.sc-flex-stretch {
  align-items: stretch; }

.sc-flex-start {
  align-items: start; }

.sc-flex-center {
  align-items: center; }

.sc-flex-end {
  align-items: end; }

.sc-flex-row {
  flex-direction: row; }

.sc-flex-row-reverse {
  flex-direction: row-reverse; }

.sc-flex-column {
  flex-direction: column; }

.sc-flex-column-reverse {
  flex-direction: column-reverse; }

.sc-flex-nowrap {
  flex-wrap: nowrap; }

.sc-flex-wrap {
  flex-wrap: wrap; }

.sc-flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.sc-flex-wrap-stretch {
  align-content: stretch; }

.sc-flex-wrap-top {
  align-content: flex-start; }

.sc-flex-wrap-middle {
  align-content: center; }

.sc-flex-wrap-bottom {
  align-content: flex-end; }

.sc-flex-wrap-between {
  align-content: space-between; }

.sc-flex-wrap-around {
  align-content: space-around; }

.sc-flex-1 {
  flex: 1 1 0%; }

.sc-flex-auto {
  flex: 1 1 auto; }

.sc-flex-initial {
  flex: 0 1 auto; }

.sc-flex-none {
  flex: none; }

.sc-flex-shrink {
  flex-shrink: 1; }

.sc-flex-shrink-0 {
  flex-shrink: 0; }

.sc-flex-grow {
  flex-grow: 1; }

.sc-flex-grow-0 {
  flex-grow: 0; }

.sc-grid-columns-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)); }

.sc-grid-columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)); }

.sc-grid-columns-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)); }

.sc-grid-columns-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)); }

.sc-grid-columns-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr)); }

.sc-grid-columns-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr)); }

.sc-grid-columns-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr)); }

.sc-grid-columns-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr)); }

.sc-grid-columns-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr)); }

.sc-grid-columns-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr)); }

.sc-grid-columns-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr)); }

.sc-grid-columns-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr)); }

.sc-grid-columns-none {
  grid-template-columns: none; }

.sc-grid-columns-subgrid {
  grid-template-columns: subgrid; }

.sc-grid-column-span-1 {
  grid-column: span 1/span 1; }

.sc-grid-column-span-2 {
  grid-column: span 2/span 2; }

.sc-grid-column-span-3 {
  grid-column: span 3/span 3; }

.sc-grid-column-span-4 {
  grid-column: span 4/span 4; }

.sc-grid-column-span-5 {
  grid-column: span 5/span 5; }

.sc-grid-column-span-6 {
  grid-column: span 6/span 6; }

.sc-grid-column-span-7 {
  grid-column: span 7/span 7; }

.sc-grid-column-span-8 {
  grid-column: span 8/span 8; }

.sc-grid-column-span-9 {
  grid-column: span 9/span 9; }

.sc-grid-column-span-10 {
  grid-column: span 10/span 10; }

.sc-grid-column-span-11 {
  grid-column: span 11/span 11; }

.sc-grid-column-span-12 {
  grid-column: span 12/span 12; }

.sc-grid-column-span-full {
  grid-column: span 1/span -1; }

.sc-grid-column-start-1 {
  grid-column-start: 1; }

.sc-grid-column-start-2 {
  grid-column-start: 2; }

.sc-grid-column-start-3 {
  grid-column-start: 3; }

.sc-grid-column-start-4 {
  grid-column-start: 4; }

.sc-grid-column-start-5 {
  grid-column-start: 5; }

.sc-grid-column-start-6 {
  grid-column-start: 6; }

.sc-grid-column-start-7 {
  grid-column-start: 7; }

.sc-grid-column-start-8 {
  grid-column-start: 8; }

.sc-grid-column-start-9 {
  grid-column-start: 9; }

.sc-grid-column-start-10 {
  grid-column-start: 10; }

.sc-grid-column-start-11 {
  grid-column-start: 11; }

.sc-grid-column-start-12 {
  grid-column-start: 12; }

.sc-grid-column-end-1 {
  grid-column-end: 1; }

.sc-grid-column-end-2 {
  grid-column-end: 2; }

.sc-grid-column-end-3 {
  grid-column-end: 3; }

.sc-grid-column-end-4 {
  grid-column-end: 4; }

.sc-grid-column-end-5 {
  grid-column-end: 5; }

.sc-grid-column-end-6 {
  grid-column-end: 6; }

.sc-grid-column-end-7 {
  grid-column-end: 7; }

.sc-grid-column-end-8 {
  grid-column-end: 8; }

.sc-grid-column-end-9 {
  grid-column-end: 9; }

.sc-grid-column-end-10 {
  grid-column-end: 10; }

.sc-grid-column-end-11 {
  grid-column-end: 11; }

.sc-grid-column-end-12 {
  grid-column-end: 12; }

.sc-grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr)); }

.sc-grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr)); }

.sc-grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr)); }

.sc-grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr)); }

.sc-grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr)); }

.sc-grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr)); }

.sc-grid-rows-7 {
  grid-template-rows: repeat(7, minmax(0, 1fr)); }

.sc-grid-rows-8 {
  grid-template-rows: repeat(8, minmax(0, 1fr)); }

.sc-grid-rows-9 {
  grid-template-rows: repeat(9, minmax(0, 1fr)); }

.sc-grid-rows-10 {
  grid-template-rows: repeat(10, minmax(0, 1fr)); }

.sc-grid-rows-11 {
  grid-template-rows: repeat(11, minmax(0, 1fr)); }

.sc-grid-rows-12 {
  grid-template-rows: repeat(12, minmax(0, 1fr)); }

.sc-grid-rows-none {
  grid-template-rows: none; }

.sc-grid-rows-subgrid {
  grid-template-rows: subgrid; }

.sc-grid-row-span-1 {
  grid-row: span 1/span 1; }

.sc-grid-row-span-2 {
  grid-row: span 2/span 2; }

.sc-grid-row-span-3 {
  grid-row: span 3/span 3; }

.sc-grid-row-span-4 {
  grid-row: span 4/span 4; }

.sc-grid-row-span-5 {
  grid-row: span 5/span 5; }

.sc-grid-row-span-6 {
  grid-row: span 6/span 6; }

.sc-grid-row-span-7 {
  grid-row: span 7/span 7; }

.sc-grid-row-span-8 {
  grid-row: span 8/span 8; }

.sc-grid-row-span-9 {
  grid-row: span 9/span 9; }

.sc-grid-row-span-10 {
  grid-row: span 10/span 10; }

.sc-grid-row-span-11 {
  grid-row: span 11/span 11; }

.sc-grid-row-span-12 {
  grid-row: span 12/span 12; }

.sc-grid-row-span-full {
  grid-row: span 1/span -1; }

.sc-grid-row-start-1 {
  grid-row-start: 1; }

.sc-grid-row-start-2 {
  grid-row-start: 2; }

.sc-grid-row-start-3 {
  grid-row-start: 3; }

.sc-grid-row-start-4 {
  grid-row-start: 4; }

.sc-grid-row-start-5 {
  grid-row-start: 5; }

.sc-grid-row-start-6 {
  grid-row-start: 6; }

.sc-grid-row-start-7 {
  grid-row-start: 7; }

.sc-grid-row-start-8 {
  grid-row-start: 8; }

.sc-grid-row-start-9 {
  grid-row-start: 9; }

.sc-grid-row-start-10 {
  grid-row-start: 10; }

.sc-grid-row-start-11 {
  grid-row-start: 11; }

.sc-grid-row-start-12 {
  grid-row-start: 12; }

.sc-grid-row-end-1 {
  grid-row-end: 1; }

.sc-grid-row-end-2 {
  grid-row-end: 2; }

.sc-grid-row-end-3 {
  grid-row-end: 3; }

.sc-grid-row-end-4 {
  grid-row-end: 4; }

.sc-grid-row-end-5 {
  grid-row-end: 5; }

.sc-grid-row-end-6 {
  grid-row-end: 6; }

.sc-grid-row-end-7 {
  grid-row-end: 7; }

.sc-grid-row-end-8 {
  grid-row-end: 8; }

.sc-grid-row-end-9 {
  grid-row-end: 9; }

.sc-grid-row-end-10 {
  grid-row-end: 10; }

.sc-grid-row-end-11 {
  grid-row-end: 11; }

.sc-grid-row-end-12 {
  grid-row-end: 12; }

.sc-grid {
  display: grid; }

.sc-gap-xsmall {
  margin-left: 0.25rem; }

.sc-gap-small {
  gap: 0.5rem; }

.sc-gap-medium {
  gap: 0.75rem; }

.sc-gap-large {
  gap: 1rem; }

.sc-justify-content-normal {
  justify-content: normal; }

.sc-justiy-content-start {
  justify-content: start; }

.sc-justify-content-end {
  justify-content: end; }

.sc-justify-content-center {
  justify-content: center; }

.sc-justify-content-between {
  justify-content: space-between; }

.sc-justify-content-around {
  justify-content: space-around; }

.sc-justify-content-evenly {
  justify-content: space-evenly; }

.sc-justify-content-stretch {
  justify-content: stretch; }

.sc-justify-items-start {
  justify-items: start; }

.sc-justify-items-end {
  justify-items: end; }

.sc-justify-items-center {
  justify-items: center; }

.sc-justify-items-stretch {
  justify-items: stretch; }

.sc-justify-self-auto {
  justify-self: auto; }

.sc-justify-self-start {
  justify-self: start; }

.sc-justify-self-end {
  justify-self: end; }

.sc-justify-self-center {
  justify-self: center; }

.sc-justify-self-stretch {
  justify-self: stretch; }

.sc-align-content-normal {
  align-content: normal; }

.sc-align-content-center {
  align-content: center; }

.sc-align-content-start {
  align-content: start; }

.sc-align-content-end {
  align-content: end; }

.sc-align-content-between {
  align-content: space-between; }

.sc-align-content-around {
  align-content: space-around; }

.sc-align-content-evenly {
  align-content: space-evenly; }

.sc-align-content-baseline {
  align-content: baseline; }

.sc-align-content-stretch {
  align-content: stretch; }

.sc-align-items-start {
  align-items: flex-start; }

.sc-align-items-end {
  align-items: flex-end; }

.sc-align-items-center {
  align-items: center; }

.sc-align-items-baseline {
  align-items: baseline; }

.sc-align-items-stretch {
  align-items: stretch; }

.sc-self-auto {
  align-self: auto; }

.sc-self-start {
  align-self: flex-start; }

.sc-self-end {
  align-self: flex-end; }

.sc-self-center {
  align-self: center; }

.sc-self-stretch {
  align-self: stretch; }

.sc-self-baseline {
  align-self: baseline; }

.sc-place-content-center {
  place-content: center; }

.sc-place-content-start {
  place-content: start; }

.sc-place-content-end {
  place-content: end; }

.sc-place-content-between {
  place-content: space-between; }

.sc-place-content-around {
  place-content: space-around; }

.sc-place-content-evenly {
  place-content: space-evenly; }

.sc-place-content-baseline {
  place-content: baseline; }

.sc-place-content-stretch {
  place-content: stretch; }

.sc-place-items-start {
  place-items: start; }

.sc-place-items-end {
  place-items: end; }

.sc-place-items-center {
  place-items: center; }

.sc-place-items-baseline {
  place-items: baseline; }

.sc-place-items-stretch {
  place-items: stretch; }

.sc-place-self-auto {
  place-self: auto; }

.sc-place-self-start {
  place-self: start; }

.sc-place-self-end {
  place-self: end; }

.sc-place-self-center {
  place-self: center; }

.sc-place-self-stretch {
  place-self: stretch; }

.sc-text-primary {
  color: #0d6efd !important; }

.sc-text-secondary {
  color: #797e86 !important; }

.sc-text-success {
  color: #2fc900 !important; }

.sc-text-warning {
  color: #ffc400 !important; }

.sc-text-danger {
  color: #ffe600 !important; }

.sc-text-alert {
  color: #ff0000 !important; }

.sc-text-info {
  color: #4fcdff !important; }

.sc-text-inverse {
  color: #ffffff !important; }

.sc-text-link {
  color: #1E87F0 !important; }

.sc-text-default {
  color: #000000 !important; }

.sc-text-bold {
  font-weight: 400; }

.sc-text-italic {
  font-style: italic; }

.sc-text-oblique {
  font-style: oblique; }

.sc-text-underline {
  text-decoration: underline; }

.sc-text-uppercase {
  text-transform: uppercase !important; }

.sc-text-capitalize {
  text-transform: capitalize !important; }

.sc-text-lowercase {
  text-transform: lowercase !important; }

.sc-text-left {
  text-align: left !important; }

.sc-text-right {
  text-align: right !important; }

.sc-text-center {
  text-align: center !important; }

.sc-text-justify {
  text-align: justify !important; }

.sc-text-title {
  font-family: Poppins; }

.sc-text-header {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 16px; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }
