// helpers
@import "../scss/helpers/variables";
@import "../scss/helpers/mixins";
@import "../scss/helpers/functions";

// components
@import "../scss/components/button";
@import "../scss/components/card";
@import "../scss/components/container";
@import "../scss/components/list-group";

// Layouts
@import "../scss/layouts/overflow";
@import "../scss/layouts/container";
@import "../scss/layouts/aspect-ratio";
@import "../scss/layouts/position";

// Sizing
@import "../scss/sizing/width";
@import "../scss/sizing/height";

// spacing
@import "../scss/spacing/padding";
@import "../scss/spacing/margin";

// background
@import "../scss/backgrounds/theme-color";
@import "../scss//backgrounds/background";

// borders
@import "../scss/borders/border-radius";

// flexbox and grid
@import "../scss/flexbox-&-grid/flex";
@import "../scss/flexbox-&-grid/grid";
@import "../scss/flexbox-&-grid/gap";
@import "../scss/flexbox-&-grid/justify";
@import "../scss/flexbox-&-grid/align";
@import "../scss/flexbox-&-grid/place";

// typography
@import "../scss/typography/text-color";
@import "../scss/typography/text";

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    background-color: #eeeeee;
}