// PADDING

$padding-xs:        15px !default;
$padding-sm:        30px !default;
$padding-md:        40px !default;
$padding-lg:        70px !default;

$padding: () !default;
$padding:
(
    xs:            $padding-xs,
    sm:            $padding-sm,
    md:            $padding-md,
    lg:            $padding-lg,
);

// PADDING

.sc-padding-remove
{
    padding: 0;
}
.sc-padding-xsmall
{
    padding: $padding-xs;
}
.sc-padding-small
{
    padding: $padding-sm;
}
.sc-padding-medium
{
    padding: $padding-md;
}
.sc-padding-large
{
    padding: $padding-lg;
}

// PADDING INLINE

.sc-padding-inline-remove
{
    padding-inline: 0;
}
.sc-padding-inline-xsmall
{
    padding-left: $padding-xs;
    padding-right: $padding-xs;
}
.sc-padding-inline-small
{
    padding-left: $padding-sm;
    padding-right: $padding-sm;
}
.sc-padding-inline-medium
{
    padding-left: $padding-md;
    padding-right: $padding-md;
}
.sc-padding-inline-large
{
    padding-left: $padding-lg;
    padding-right: $padding-lg;
}

// PADDING BLOCK

.sc-padding-block-remove
{
    padding-top: 0;
    padding-bottom: 0;
}
.sc-padding-block-xsmall
{
    padding-top: $padding-xs;
    padding-bottom: $padding-xs;
}
.sc-padding-block-small
{
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;
}
.sc-padding-block-medium
{
    padding-top: $padding-md;
    padding-bottom: $padding-md;
}
.sc-padding-block-large
{
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
}

// PADDING LEFT

.sc-padding-left-remove
{
    padding-left: 0;
}
.sc-padding-left-xsmall
{
    padding-left: $padding-xs;
}
.sc-padding-left-small
{
    padding-left: $padding-sm;
}
.sc-padding-left-medium
{
    padding-left: $padding-md;
}
.sc-padding-left-large
{
    padding-left: $padding-lg;
}

// PADDING RIGHT

.sc-padding-right-remove
{
    padding-right: 0;
}
.sc-padding-right-xsmall
{
    padding-right: $padding-xs;
}
.sc-padding-right-small
{
    padding-right: $padding-sm;
}
.sc-padding-right-medium
{
    padding-right: $padding-md;
}
.sc-padding-right-large
{
    padding-right: $padding-lg;
}

// PADDING TOP

.sc-padding-top-remove
{
    padding-top: 0;
}
.sc-padding-top-xsmall
{
    padding-top: $padding-xs;
}
.sc-padding-top-small
{
    padding-top: $padding-sm;
}
.sc-padding-top-medium
{
    padding-top: $padding-md;
}
.sc-padding-top-large
{
    padding-top: $padding-lg;
}

// PADDING BOTTOM

.sc-padding-bottom-remove
{
    padding-bottom: 0;
}
.sc-padding-bottom-xsmall
{
    padding-bottom: $padding-xs;
}
.sc-padding-bottom-small
{
    padding-bottom: $padding-sm;
}
.sc-padding-bottom-medium
{
    padding-bottom: $padding-md;
}
.sc-padding-bottom-large
{
    padding-bottom: $padding-lg;
}