.sc-padding-remove
{
    padding: 0;
}
.sc-padding-xsmall
{
    padding: $padding-xs;
}
.sc-padding-small
{
    padding: $padding-sm;
}
.sc-padding-medium
{
    padding: $padding-md;
}
.sc-padding-large
{
    padding: $padding-lg;
}