$height-1:         8.333333vh !default;
$height-2:         15.277778vh !default;
$height-2-5:       16.666672vh !default;
$height-3:         25vh !default;
$height-4:         33.333333vh !default;
$height-5:         41.666672vh !default;
$height-5-5:       45.8333335vh !default;
$height-6:         50vh !default;
$height-7:         58.333333vh !default;
$height-8:         66.666672vh !default;
$height-9:         75vh !default;
$height-10:        83.333333vh !default;
$height-11:        91.666667vh !default;
$height-12:        100vh !default;
.sc-height-1
{
    height: $height-1;
}
.sc-height-2
{
    height: $height-2;
}
.sc-height-2-5
{
    height: $height-2-5;
}
.sc-height-3
{
    height: $height-3;
}
.sc-height-4
{
    height: $height-4;
}
.sc-height-5
{
    height: $height-5;
}
.sc-height-5-5
{
    height: $height-5-5;
}
.sc-height-6
{
    height: $height-6;
}
.sc-height-7
{
    height: $height-7;
}
.sc-height-8
{
    height: $height-8;
}

.sc-height-9
{
    height: $height-9;
}
.sc-height-10
{
    height: $height-10;
}
.sc-height-11
{
    height: $height-11;
}
.sc-height-12
{
    height: $height-12;
}