// Style Modifier
.sc-text-bold{
    font-weight: 400;
}

.sc-text-italic{
    font-style: italic;
}

.sc-text-oblique{
    font-style: oblique;
}

.sc-text-underline{
    text-decoration: underline;
}


// Transform Modifier
.sc-text-uppercase{
    text-transform: uppercase !important;
}

.sc-text-capitalize{
    text-transform: capitalize !important;
}

.sc-text-lowercase{
    text-transform: lowercase !important;
}


// Alignment Modifier
.sc-text-left{
    text-align: left !important;
}

.sc-text-right{
    text-align: right !important;
}

.sc-text-center{
    text-align: center !important;
}

.sc-text-justify{
    text-align: justify !important;
}


// text font style
.sc-text-title
{
    font-family: Poppins;
}

@include initiate-font;