// Name:            Container
// Description:     Component to align and center your site and grid content
//
// Component:       `sc-container`
//
// Modifiers:       `sc-container-small`
//                  `sc-container-large`
//                  `sc-container-expand`
//
// ========================================================================


// Variables
// ========================================================================

$container-max-width:                           1200px !default;
$container-xsmall-max-width:                    750px !default;
$container-small-max-width:                     900px !default;
$container-large-max-width:                     1920px !default;

$container-padding-horizontal:                  15px !default;
$container-padding-horizontal-s:                gutter(small) !default;
$container-padding-horizontal-l:                gutter(medium) !default;

.sc-container{
    box-sizing: content-box;

    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-horizontal;
    padding-right: $container-padding-horizontal;
    position: relative;
}

@include respond-to(small){
    .sc-container{
        padding-left: $container-padding-horizontal-s;
        padding-right: $container-padding-horizontal-s;
    }
}

@include respond-to(medium){
    .sc-container{
        padding-left: $container-padding-horizontal-l;
        padding-right: $container-padding-horizontal-l;
    }
}

 .sc-container{
    @include clearfix;
}

.sc-container > :last-child
{
    margin-bottom: 0;
}

.sc-container .sc-container{
    padding-left: 0;
    padding-right: 0;
}

.sc-container-xsmall{
    max-width: $container-xsmall-max-width;
}

.sc-container-small{
    max-width: $container-small-max-width;
}

.sc-container-large{
    max-width: $container-large-max-width;
    max-height: $container-xsmall-max-width;
}