// Name:            Pagination
// Description:     Component to create a page navigation
//
// Component:       `sc-pagination`
//
// Adopted:         `sc-pagination-next`
//                  `sc-pagination-previous`
//
// States:          `sc-active`
//                  `sc-disabled`
//
// ========================================================================

.sc-pagination
{
    display: flex;
    padding-left: 0;
    list-style: none;
}

.sc-page-link
{
    position: relative;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: $primary;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #0000002d;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sc-page-item:not(:first-child) .sc-page-link
{
    margin-left: calc(1px * -1);
}


.sc-page-item:first-child .sc-page-link
{
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.sc-page-item:last-child .sc-page-link
{
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.sc-page-link:hover
{
    z-index: 2;
    color: $ocean-blue;
    background-color: $light-gray;
    border: 1px solid #0000002d;
}

.sc-page-link-focus
{
    z-index: 3;
    outline: 0;
    box-shadow: 10px 6px 6px -1 #00000026;
}

.sc-pagination > .active > *
{
    color: #ffffff;
}

.sc-pagination > .disabled > *
{
    color: #0000002d;
    cursor: note-allowed;
}