@include create-theme-status-color-code(bg);

.sc-bg-success
{
    color: $inverse;
}
.sc-bg-warning
{
    color: $default;
}
.sc-bg-danger
{
    color: $default;
}
.sc-bg-alert
{
    color: $inverse;
}
.sc-bg-info
{
    color: $default;
}
.sc-bg-inverse
{
    color: $default;
}
.sc-bg-disabled
{
    color: $inverse;
}
.sc-bg-link
{
    color: $inverse;
}
.sc-bg-default
{
    color: $inverse;
}