// Theme Status Color
$theme-color: () !default;
$theme-color:
(
    primary:       $primary,
    secondary:     $secondary,
    success:       $success,
    warning:       $warning,
    danger:        $danger,
    alert:         $alert,
    info:          $info,
    inverse:       $inverse,
    link:          $link,
    default:       $default,
);

@include create-theme-status-color-code(background);

.sc-background-success
{
    color: $inverse;
}
.sc-background-warning
{
    color: $default;
}
.sc-background-danger
{
    color: $default;
}
.sc-background-alert
{
    color: $inverse;
}
.sc-background-info
{
    color: $default;
}
.sc-background-inverse
{
    color: $default;
}
.sc-background-disabled
{
    color: $inverse;
}
.sc-background-link
{
    color: $inverse;
}
.sc-background-default
{
    color: $inverse;
}