.sc-overflow-none
{
    overflow: none;
}
.sc-overflow-hidden
{
    overflow: hidden;
}
.sc-overflow-clip
{
    overflow: clip;
}
.sc-overflow-visible
{
    overflow: visible;
}
.sc-overflow-scroll
{
    overflow: scroll;
}
.sc-overflow-x-auto
{
    overflow-x: auto;
}
.sc-overflow-y-auto
{
    overflow-y: auto;
}
.sc-overflow-x-hidden
{
    overflow-x: hidden;
}
.sc-overflow-y-hidden
{
    overflow-y: hidden;
}
.sc-overflow-x-clip
{
    overflow-x: clip;
}
.sc-overflow-y-clip
{
    overflow-y: clip;
}
.sc-overflow-x-visible
{
    overflow-x: visible;
}
.sc-overflow-y-visible
{
    overflow-y: visible;
}
.sc-overflow-x-scroll
{
    overflow-x: scroll;
}
.sc-overflow-y-scroll
{
    overflow-y: scroll;
}