// POSITION

.sc-position-static
{
    position: static;
}
.sc-position-relative
{
    position: relative;
}
.sc-position-absolute
{
    position: absolute;
}
.sc-position-sticky
{
    position: sticky;
}
.sc-position-fixed
{
    position: fixed;
}