$grid-gutter-horizontal:                gutter(small) !default;
$grid-gutter-vertical:                  $grid-gutter-horizontal !default;
$grid-gutter-horizontal-l:              gutter(medium) !default;
$grid-gutter-vertical-l:                $grid-gutter-horizontal-l !default;

$grid-small-gutter-horizontal:          gutter(xsmall) !default;
$grid-small-gutter-vertical:            $grid-small-gutter-horizontal !default;

$grid-medium-gutter-horizontal:         gutter(medium) !default;
$grid-medium-gutter-vertical:           $grid-medium-gutter-horizontal !default;

$grid-large-gutter-horizontal:          gutter(medium) !default;
$grid-large-gutter-vertical:            $grid-large-gutter-horizontal !default;
$grid-large-gutter-horizontal-l:        gutter(large) !default;
$grid-large-gutter-vertical-l:           $grid-large-gutter-horizontal-l !default;

$grid-divider-border-width:             border(border-width) !default;
$grid-divider-border:                   border(border-color) !default;

.sc-flex
{
    // -ms-box-orient: horizontal;
    // display: -webkit-box;
    // display: -moz-box;
    // display: -ms-flexbox;
    // display: -moz-flex;
    // display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sc-flex > * 
{
    margin: 0;
}

.sc-flex > * > :last-child
{
    margin-bottom: 0;
}

.sc-flex{
    margin-left: (-$grid-gutter-horizontal);
}

.sc-flex > *{
    padding-left: $grid-gutter-horizontal;
}

// FLEX NONE
.sc-flex-none{
    margin-left: 0;
}

.sc-flex-none > *{
    padding-left: 0;
}

// FLEX SMALL GAP
.sc-flex-small{
    margin-left: (-$grid-small-gutter-horizontal);
}

.sc-flex-small > *{
    padding-left: $grid-small-gutter-horizontal;
}

// FLEX MEDIUM GAP
.sc-flex-medium{
    margin-left: (-$grid-medium-gutter-horizontal);
}

.sc-flex-medium > *{
    padding-left: $grid-medium-gutter-horizontal;
}

// FLEX LARGE GAP
.sc-flex-large{
    margin-left: (-$grid-large-gutter-horizontal);
}

.sc-flex-large > *{
    padding-left: $grid-large-gutter-horizontal;
}
















.sc-flex-inline
{
    display: inline-flex;
}

// Remove psuedo elements

.sc-flex::before,
.sc-flex::after,
.sc-flex-inline::before,
.sc-flex-inline::after{
    display: none;
}

// ===== ALIGNMENT =====

// Default

.sc-flex-stretch
{
    align-items: stretch;
}

.sc-flex-start
{
    align-items: start;
}

.sc-flex-center
{
    align-items: center;
}

.sc-flex-end
{
    align-items: end;
}

// ===== DIRECTION =====

// Default

.sc-flex-row
{
    flex-direction: row;
}

.sc-flex-row-reverse
{
    flex-direction: row-reverse;
}

.sc-flex-column
{
    flex-direction: column;
}

.sc-flex-column-reverse
{
    flex-direction: column-reverse;
}

// ===== WRAP =====

// Default

.sc-flex-nowrap
{
    flex-wrap: nowrap;
}

.sc-flex-wrap
{
    flex-wrap: wrap;
}

.sc-flex-wrap-reverse
{
    flex-wrap: wrap-reverse;
}

// Default

.sc-flex-wrap-stretch{ 
    align-content: stretch; 
}

.sc-flex-wrap-top{ 
    align-content: flex-start; 
}

.sc-flex-wrap-middle{ 
    align-content: center; 
}

.sc-flex-wrap-bottom{ 
    align-content: flex-end; 
}

.sc-flex-wrap-between{
    align-content: space-between;
}

.sc-flex-wrap-around{
    align-content: space-around;
}


// FLEX
// Utilities for controlling how flex items both grow and shrink.
.sc-flex-1
{
    flex: 1 1 0%;
}
.sc-flex-auto
{
    flex: 1 1 auto;
}
.sc-flex-initial
{
    flex: 0 1 auto;
}
.sc-flex-none
{
    flex: none;
}

// FLEX SHRINK
// Utilities for controlling how flex items shrink.
.sc-flex-shrink
{
    flex-shrink: 1;
}
.sc-flex-shrink-0
{
    flex-shrink: 0;
}

// FLEX GROW
// Utilities for controlling how flex items grow.
.sc-flex-grow
{
    flex-grow: 1;
}
.sc-flex-grow-0
{
    flex-grow: 0;
}