// Justify Content

.sc-justify-normal
{
    justify-content: normal;
}
.sc-justiy-start
{
    justify-content: start;
}
.sc-justify-end
{
    justify-content: end;
}
.sc-justify-center
{
    justify-content: center;
}