// Place Content

.sc-place-content-center
{
    place-content: center;
}
.sc-place-content-start
{
    place-content: start;
}
.sc-place-content-end
{
    place-content: end;
}
.sc-place-content-between
{
    place-content: space-between;
}
.sc-place-content-around
{
    place-content: space-around;
}
.sc-place-content-evenly
{
    place-content: space-evenly;
}
.sc-place-content-baseline
{
    place-content: baseline;
}
.sc-place-content-stretch
{
    place-content: stretch;
}

// Place Items

.sc-place-items-start
{
    place-items: start;
}
.sc-place-items-end
{
    place-items: end;
}
.sc-place-items-center
{
    place-items: center;
}
.sc-place-items-baseline
{
    place-items: baseline;
}
.sc-place-items-stretch
{
    place-items: stretch;
}

// Place Self

.sc-place-self-auto
{
    place-self: auto;
}
.sc-place-self-start
{
    place-self: start;
}
.sc-place-self-end
{
    place-self: end;
}
.sc-place-self-center
{
    place-self: center;
}
.sc-place-self-stretch
{
    place-self: stretch;
}