// ========== BREAKPOINT ==========

$breakpoint: () !default;
$breakpoint:
(
    small:         640px,
    medium:        768px,
    large:         1024px,
    x-large:       1280px,
    2x-large:      1536px,
);

$breakpoint-max: () !default;
$breakpoint-max:
(
    small:         (640px -1),
    medium:        (768px -1),
    large:         (1024px -1),
    x-large:       (1280px -1),
    2x-large:      (1536px -1),
);

// ========== COLOR ==========

// Main Color
$primary:          #001b57 !default;
$secondary:        #0051ff !default;
$tertiary:         #0084ff !default;

// Status Color
$success:          #2fc900 !default;
$warning:          #ffc400 !default;
$danger:           #ffe600 !default;
$alert:            #ff0000 !default;
$info:             #4fcdff !default;
$inverse:          #ffffff !default;
$disabled:          #a4abb6!default;
$link:             #1E87F0 !default;
$default:          #000000 !default;
