// ========== BREAKPOINT ==========

$breakpoint: () !default;
$breakpoint:
(
    xsmall:       640px,
    small:        768px,
    mediume:      1024px,
    large:        1280px,
    xlarge:       1536px,
);

$breakpoint-max: () !default;
$breakpoint-max:
(
    xsmall:       (640px -1),
    small:        (768px -1),
    mediume:      (1024px -1),
    large:        (1280px -1),
    xlarge:       (1536px -1),
);

// ========== COLOR ==========

// Main Color
$primary:          #001b57 !default;
$secondary:        #0051ff !default;
$tertiary:         #0084ff !default;

// Status Color
$success:          #2fc900 !default;
$warning:          #ffc400 !default;
$danger:           #ffe600 !default;
$alert:            #ff0000 !default;
$info:             #4fcdff !default;
$inverse:          #ffffff !default;
$disabled:          #a4abb6!default;
$link:             #1E87F0 !default;
$default:          #000000 !default;



$gutter: () !default;
$gutter:
(
    xsmall:     15px,
    small:      30px,
    medium:     40px,
    large:      70px
)
