// ========== BREAKPOINT ==========

$breakpoint: () !default;
$breakpoint:
(
    xsmall:       640px,
    small:        768px,
    medium:      1024px,
    large:        1280px,
    xlarge:       1536px,
);

$breakpoint-max: () !default;
$breakpoint-max:
(
    xsmall:       (640px -1),
    small:        (768px -1),
    medium:      (1024px -1),
    large:        (1280px -1),
    xlarge:       (1536px -1),
);

// ========== COLOR ==========

// Main Color
$primary:          #001b57 !default;
$secondary:        #0051ff !default;
$tertiary:         #0084ff !default;

// Status Color
$success:          #2fc900 !default;
$warning:          #ffc400 !default;
$danger:           #ffe600 !default;
$alert:            #ff0000 !default;
$info:             #4fcdff !default;
$inverse:          #ffffff !default;
$disabled:          #a4abb6!default;
$link:             #1E87F0 !default;
$default:          #000000 !default;



/* Spacing
   ================================================== */

// Used in margin, section, list
$margin: () !default;
$margin:(
    global:    20px,
    xsmall:     5px,
    small:     10px,
    medium:    40px,
    large:     70px,
    xlarge:    140px
);



// Used in grid, column, containers, align, cards and padding
$gutter: () !default;
$gutter:(
    xsmall:     15px,
    small:      30px,
    medium:     40px,
    large:      70px
);



/* Control height
   ================================================== */
$control-height:() !default;
$control-height:(
    small:      30px,
    medium:     40px,
    large:      55px
);



/* Typography
   ================================================== */
   $font: () !default;
   $font:(
       font-family:        Poppins,
       font-size:          16px,
       kerning:            0.05rem,
       line-height:        1.5,
   );
   
   $font-size: () !default;
   $font-size:(
       small:          0.875rem,
       medium:         1.25rem,
       large:          1.5rem,
       xlarge:         2rem,
       xxlarge:        2.625rem
   );
   
   $font-weight: () !default;
   $font-weight:(
       light:          300,
       regular:        400,
       bold:           600,
       black:          800
   );
